{% extends "rest_framework/base.html" %}
{% load static %}
{% load i18n %}
{% load rest_framework %}

{%  block style %}
    {{ block.super }}

    <style>
        pre.version, pre.version-stamp {
            all: unset;
            line-height: 1em;
        }
        code {
            all: unset;
        }

      </style>

      <link rel="stylesheet" href="{{ swagger_ui_css }}">
{% endblock %}

{%  block apidocsnavitem %}
<li class="vf-navigation__item">
  <a href="/metagenomics/api/docs" class="vf-navigation__link" aria-current="page">API Documentation</a>
</li>
{% endblock %}

{% block content %}

    <div id="swagger-ui"></div>
    <script src="{{ swagger_ui_bundle }}"></script>
    <script src="{{ swagger_ui_standalone }}"></script>
    {% if script_url %}
    <script src="{{script_url|safe}}"></script>
    {% else %}
    <script>
    {% include template_name_js %}
    </script>
    {% endif %}

    <div class="full-width">
        <div class="vf-banner-elixir vf-banner"
             data-vf-js-banner-elixir
             data-vf-js-banner-elixir-name="MGnify"
             data-vf-js-banner-elixir-description="Submit, analyse, discover and compare microbiome data"
             data-vf-js-banner-elixir-link="https://elixir-europe.org/services/elixir-embl-ebi">
        </div>
    </div>
    <div class="full-width">
        <link rel="import" href="https://www.embl.org/api/v1/pattern.html?filter-content-type=article&filter-id=106902&pattern=node-body&source=contenthub" data-target="self" data-embl-js-content-hub-loader>
    </div>
{%  endblock %}