.DS_Store
db.sqlite3
__pycache__
*.pyc
var
dist
.eggs
emgcli.egg-info/
.pytest_cache/

staticfiles/
media/
venv/
database/
results/
fixtures/*.sig

.vscode/

# IntelliJ project structure files
*.iml
.idea/

.coverage
/build/

loglockdir
logs

secret.key