include README.md
include LICENSE
include pyproject.toml
recursive-include tests *
recursive-include emgcli *
recursive-include emgapi *
recursive-include emgapianns *
recursive-include emgui *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
