include README.rst
include LICENSE
include requirements.txt
recursive-include tests *
recursive-include emgcli *
recursive-include emgapi *
recursive-include emgapianns *
recursive-include emgui *
recursive-exclude * __pycache__
recursive-exclude * *.pyc
