multidict==4.7.4
pytest==5.3.5
pytest-django==3.8.0
pytest-xdist==1.31.0
model_bakery==1.2.1
mock_services==0.3.1
mongomock==3.19.0
jsonapi-client==0.9.8
pytest-cov==2.8.1
# For testing webuploader features (under emgapianns/management/commands/...)
pandas~=0.25.2; python_version < '3.7'
pandas==1.2.3; python_version > '3.6'
responses==0.10.15