# EMG dependencies
# install and create a virtual environment
# run pip install -r requirements

# deployment
gunicorn
whitenoise
mysqlclient
sqlparse

# optional session store
# django-redis>=4.4

# log handler
ConcurrentLogHandler

# dependences
Django~=1.11.1
djangorestframework~=3.6.3
django-filter~=1.0.3
djangorestframework-jsonapi~=2.2.0
# django-rest-auth~=0.9.1
django-cors-headers~=1.3.1

# optional serializers
# djangorestframework-xml~=1.3.0
# djangorestframework-yaml~=1.0.3
# djangorestframework-csv~=2.0.0

# schema
coreapi~=2.3.0

# docs
django-rest-swagger~=2.1.2
