# EMG tests dependencies
# install and create a virtual environment
# run pip install -r requirements-test

## bug https://github.com/aio-libs/multidict/issues/274
multidict==4.4.0a0

pytest~=5.2.2
pytest-django~=3.6.0

model_mommy
mock_services
mongomock
mock

jsonapi-client; python_version >= '3.6'
pytest-cov
