.elixir-ribbon {
    padding: 1rem 0;
    background-color: rgb(77,77,72);
}

.elixir-ribbon {
    font-family: Helvetica, Arial, FreeSans, 'Liberation Sans', sans-serif;
}

.elixir-ribbon .row {
    max-width: 1200px;
    margin: 0 auto 1rem;
}

.elixir-ribbon .row::before,
.elixir-ribbon .row::after {
    display: table;
    content: ' ';
}

.elixir-ribbon h5 {
    font-size: 1.3rem;
}

.elixir-ribbon,
.elixir-ribbon h5,
.elixir-ribbon a,
.elixir-ribbon a:active,
.elixir-ribbon a:visited,
.elixir-ribbon a:hover {
    color: #fff;
    text-decoration: none;
}
.elixir-ribbon a:hover {
    opacity: .8;
}
.elixir-ribbon .readmore {
    border-bottom: 1px dotted #fff;
}
.elixir-ribbon h5 {
    margin: 0;
}
.elixir-ribbon .elixir-logo-kite {
    background: 80% 58% url("https://ebi.emblstatic.net/web_guidelines/EBI-Framework/v1.2/images/logos/assorted/elixir_kitemark-60px.png") no-repeat;
    position: relative;
    top: -5px;
    margin: 0 1rem -.5rem 0;
    height: 60px;
    width: 60px;
    display: inline-block;
    float: left;
    background-size: 60px;
}