{% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="MGnify is a freely available hub for the analysis and exploration of metagenomic, metatranscriptomic, amplicon and assembly data." /><!-- Describe what this page is about -->
    <meta name="keywords" content="metagenomics, genome assemblies" />
    <meta name="author" content="EMBL-EBI Metagenomics" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="width" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="theme-color" content="#70BDBD" />

    <meta name="ebi:owner" content="Rob Finn" />
    <meta name="ebi:review-cycle" content="180" />
    <meta name="ebi:last-review" content="2021-10-15" />
    <meta name="ebi:expiry" content="2022-01-01" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:creator" content="@EBImetagenomics">
    <meta name="twitter:site" content="@EBImetagenomics">
    <meta name="twitter:title" content="MGnify API">
    <meta name="twitter:description" content="MGnify is a freely available hub for the analysis and exploration of metagenomic, metatranscriptomic, amplicon and assembly data.">
    <meta name="twitter:image:src" content="https://avatars1.githubusercontent.com/u/32897658?s=200&v=4">
    <meta name="twitter:image:width" content="280">
    <meta name="twitter:image:height" content="150">
    <!-- End Twitter -->
    <style>
      .masthead-black-bar::before {
          min-height: 28px;
      }
    </style>