<div id="elixir-banner" data-color="grey" data-name="MGnify resource" data-more-information-link="https://www.elixir-europe.org/about-us/who-we-are/nodes/embl-ebi" data-use-basic-styles="true">
        <div id="elixir-ribbon" class="elixir-ribbon">
            <div class="row">
                <div class="column">
                    <a href="https://www.elixir-europe.org/about-us/who-we-are/nodes/embl-ebi">
                        <div class="elixir-logo-kite"></div>
                        <h5>
                            <span class="elixir-banner-name">MGnify</span> is part of the ELIXIR infrastructure
                        </h5>
                        <div id="elixir-banner-info">
                            <small>
                                <span class="readmore">Learn more ›</span>
                            </small>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>