<form id='api_selector'>
  <input id="input_baseUrl" name="baseUrl" type="hidden"/>

    {% csrf_token %}
    {% if request.user.is_authenticated %}
      <div class="input">
        {% block user_context_message %}
          {# Override this block to customize #}
          Hello, {{ request.user }}
        {% endblock %}
      </div>
    {% endif %}
    {% block extra_nav %}
      {# Override this block to add more buttons, content to nav bar. #}
    {% endblock %}

    {% if request.user.is_authenticated %}
      <a id="auth" href="{% url 'rest_framework:logout' %}?next={{ request.path }}" data-sw-translate><span class="icon icon-functional" data-icon="l"></span>Logout</a>
    {% else %}
      <a id="auth" href="{% url 'rest_framework:login' %}?next={{ request.path }}" data-sw-translate><span class="icon icon-functional" data-icon="l"></span>Login</a>
    {% endif %}

  <!-- <div id='auth_container'></div> -->
</form>
