{% load static %}
  <link rel="stylesheet" type="text/css" href='{% static "swagger-ui-3.4.3/swagger-ui.css" %}' >
  <style>
    html
    {
      box-sizing: border-box;
      overflow: -moz-scrollbars-vertical;
      overflow-y: scroll;
    }
    *,
    *:before,
    *:after
    {
      box-sizing: inherit;
    }

    body {
      margin:0;
      background: #fafafa;
    }
    div#local-masthead {
      background-image: url(/metagenomics/api/static/ui/images/embl-ebi-background-4.jpg) !important;
      background-color: #000 !important;
      background-repeat: no-repeat;
      background-position: 100% 100%;
      background-size: 115%;
    }

    .header-logo {
        height: 80px;
    }
    
  </style>

  <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/elixir-banner.css" %}"/>