.swagger-section .swagger-ui-wrap {
  font-weight: normal;
  max-width: 100%;
  padding: 0 1rem;
}

.swagger-section .swagger-ui-wrap a {
  font-weight: normal;
}

.swagger-section .swagger-ui-wrap .info_title {
  font-weight: 300;
  color: rgb(0, 124, 130);
  font-size: 2.5rem;
  font-style: normal;
}
