
.swagger-section {
  font-weight: normal;
  font-family: 'Lato',Arial,Helvetica,sans-serif;
}
/* Header */

.swagger-section .swagger-ui-wrap {
  font-weight: normal;
  max-width: 100%;
  padding: 0 1rem;
}

.swagger-section .swagger-ui-wrap a {
  font-weight: normal;
}

.swagger-section .swagger-ui-wrap .info_title {
  color: #333;
  font-weight: normal;
  padding-left: 0.5rem;
  padding-bottom: 0;
}

.swagger-section .swagger-ui-wrap h1 a:hover,
.swagger-section .swagger-ui-wrap h2 a:hover,
.swagger-section .swagger-ui-wrap h3 a:hover,
.swagger-section .swagger-ui-wrap h4 a:hover,
.swagger-section .swagger-ui-wrap h5 a:hover,
.swagger-section .swagger-ui-wrap h6 a:hover {
  text-decoration: none;
}

.swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li a:hover, .swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li a:active, .swagger-section .swagger-ui-wrap ul#resources li.resource div.heading ul.options li a.active {
    text-decoration: none;
}
